{% extends 'base.html.twig' %}

{% block title %}My Cart{% endblock %}

{% block menu_cart %}active{% endblock %}

{% block body %}

<main class="container main-content cart">

    <h1>Your cart</h1>

    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-{{ label }}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}
    {% endfor %}

{# On peut dumper depuis Twig #}
{# @link https://symfony.com/doc/current/components/var_dumper.html#debugbundle-and-twig-integration #}

{# Dans le HTML #}
{# {{ dump(cart) }} #}

{# Dans la Web Debug Toolbar  #}
{# {% dump cart %} #}

    {% if cart is not null %}

    <!-- Voir : https://bootswatch.com/lumen/ > Tables -->
    <table class="table table-hover bg-white cart-list">
        <!-- En-têtes du tableau -->
        <thead>
            <tr>
                <th scope="col">Bird</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            {# On boucle sur une ligne du tableau (tr = table row) #}
            {% for item in cart %}
            <tr class="cart-list-item">
                <td><img class="cart-list-item__image" src="{{ asset('images/' ~ item.bird.image) }}"></td>
                <td>{{ item.bird.name }}</td>
                <td>{{ item.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-danger btn-lg" href="{{ path('cart_clear') }}" role="button">Empty Cart</a>

    {% else %}
    
    <p>Your cart is empty.</p>

    {% endif %}

</main>


{% endblock %}
